<div class="portlet-body form">
    <form role="form" method="post" action="http://192.168.1.100:8080/RestOffreVol/webresources/flights">
        <div class="form-body">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" id="form_control_1">
                <label for="form_control_1">Departure</label>
                <span class="help-block">Departure city .. </span>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" id="form_control_2">
                <label for="form_control_2">Arrival</label>
                <span class="help-block">Arrival city..</span>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" id="form_control_3">
                <label for="form_control_3">Escale</label>
                <span class="help-block">Escale city..</span>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" id="form_control_4">
                <label for="form_control_4">Escale</label>
                <span class="help-block">Escale city..</span>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="date" class="form-control" id="form_control_5">
                <label for="form_control_5">Date</label>
                <span class="help-block">Select date..</span>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="number" class="form-control" id="form_control_6">
                <label for="form_control_6">Price</label>
                <span class="help-block">Trip price ..</span>
            </div>

        </div>
        <div class="form-actions noborder">
            <button type="submit" class="btn blue">Submit</button>
            <button type="button" class="btn default">Cancel</button>
        </div>
    </form>
</div>