<div class="table-scrollable">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Departure
            </th>
            <th>
                Arrival
            </th>
            <th>
                Escale
            </th>
            <th>
                Price
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in users">
            <td>
                {{item.id}}
            </td>
            <td>
                {{item.villedep}}
            </td>
            <td>
                {{item.villearr}}
            </td>
            <td>
                {{item.escale}}
            </td>
            <td>
											<span class="fa fa-eur">
											{{item.prix}} </span>
            </td>
        </tr>

        </tbody>
    </table>
</div>