<div class="portlet-body form">
            <div class="form-body">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" id="form_control_1">
                <label for="form_control_1">Login</label>
                <span class="help-block">Users's login.. </span>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="password" class="form-control" id="form_control_2">
                <label for="form_control_2">Password</label>
                <span class="help-block">User's pass..</span>
            </div>
            <div class="md-checkbox">
                <input type="checkbox" id="checkbox1" class="md-check">
                <label for="checkbox1">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    Admin </label>
            </div>

        </div>
        <div class="form-actions noborder">
            <button type="submit" id="btnsend" class="btn blue">Submit</button>
            <button type="button" class="btn default">Cancel</button>
        </div>
        <script>
        $('#btnsend').click(function () {
            var login = document.getElementById('form_control_1').value;
            var password = document.getElementById('form_control_2').value;
            var admin = document.getElementById('checkbox1').value;
            
            
            var user = '{"admin": "1", "login": "'+ login +'" , "passwd": "'+ password +'" }';
            alert(user);
        $.ajax({
                type: 'POST',
                contentType: "application/json ;charset=utf-8",
                url: 'http://localhost:8080/UsersRest/webresources/users',
                data: user,
                success: function (data) {
                    alert('data: ' + data);
                },
                error: function (result) {
                    alert("something wrong");
                }

            });
            //alert("lix");
        })


    </script>

</div>